# Aula 1 - Atividade 02 Preparando o ambiente

In [21]:
# Importando as bibliotecas do curso
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#import plotly.express as px

In [26]:
URL = ('https://raw.githubusercontent.com/orlandojsjunior/Data_Science-Criando_graficos_com_bibliotecas_Python/main/Dados/imigrantes_canada.csv')

dados = pd.read_csv(URL)

In [25]:
dados.head()

,País,Continente,Região,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afeganistão,Ásia,Sul da Ásia,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albânia,Europa,Sul da Europa,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
2,Argélia,África,Norte da África,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,Samoa Americana,Oceânia,Polinésia,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europa,Sul da Europa,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15